extends ../layout/app

block contenido
    h1(class="text-center mt-5 font-bold text-2xl")=pagina
    //pre= JSON.stringify(solicitudes, undefined, 2)
    if solicitudes.length
        div(class="bg-white shadow rounded-lg")
            ul(class="divide-y divide-gray-200")
                each solicitud in solicitudes
                    li
                        div(class="p-6 w-full flex flex-col sm:flex-row sm:items-center sm:justify-between space-y-8 gap-4 md:space-y-0")
                            div(class="sm:w-3/4 md:w-4/6 lg:w-5/6 space-y-3")
                                p(class="block text-sm font-extrabold text-indigo-600 truncate")= solicitud.titulo
                                p(class="text-sm text-black font-bold")= solicitud.tipoRecurso
                                p(class="text-sm text-black font-bold" )!= solicitud.Pedido
                                p(class="text-sm text-black font-bold")= formatearFecha(solicitud.createdAt)
                            div(class="sm:w-1/4 md:w-2/6 lg:w-1/6 flex flex-col 2xl:flex-row gap-2 ")
                                if solicitud.estatus != null
                                    a(class=`w-full px-2 py-2 md:py-1 text-center text-xs leading-5 font-semibold rounded ${solicitud.estatus ? 'bg-green-500' : 'bg-red-500'}` )= `${solicitud.estatus ?  'Aceptada' : 'Rechazada'}`
                                else
                                    a(class=`w-full px-2 py-2 md:py-1 text-center text-xs leading-5 font-semibold rounded bg-gray-500` ) Pendiente
    else
        p(class="text-center mt-5 font-bold text-lg") No hay Resultados     